wandb==0.15.5
tqdm==4.65.0
torch==2.0.1
matplotlib==3.7.2
torchvision==0.15.2
urllib3==1.26.16
openai==0.27.8
python-dotenv
rich==13.4.2
pandas==2.0.3
tenacity==8.2.2
# wandb-addons @ file:///Users/geoffladwig/Documents/GitHub/wandb-addons
langchain==0.0.232
transformers==4.30.2
datasets==2.13.1
accelerate==0.21.0
ipywidgets==8.0.7

